.follow {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.follow__right {
  margin: 20px 0 0 0;
  padding: 0 30px;
  width: 1050px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 790px) {
  .follow {
    flex-direction: column;
    align-items: center;
  }
  .follow__left{
    width: 100%;
    margin: 0 auto;
  }
  .follow__right {
    padding: 0;
    width: 100%;
  }
}
