.followers__inner{
    margin: 0;
    padding: 0;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.followers__right{
    margin: 20px 0 0 0;
    padding: 0 30px;
    width: 1050px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@media screen and (max-width: 790px) {
    .followers__inner {
      flex-direction: column;
      align-items: center;
    }
    .followers__left{
      width: 100%;
      margin: 0 auto;
    }
    .followers__right {
      padding: 0;
      width: 100%;
    }
  }
  